@import 'variabili';
@import 'normalize';

main{
    background-color: $Sfondo-principale;
    color: $colore-testo;
}

.container{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .card{
        width: 180px;
        margin: 20px;
        height: 300px;
        padding: 15px;
        display: inline-block;
        border: 2px solid black;
        border-radius: 5px;
        background-color: $Sfondo-secondario;
    }

    img{
        width: 100%;
        height: 150px;
    }
}


header{
    width: 100%;
    height: 70px;
    background-color:$Sfondo-secondario;
}
